* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}


.flex-Header {
    display: flex;
    position: static;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
   width: 100vw;
    height: 120px;
    z-index: 1000;
}

.header-item {
    margin-right: 50px;
    cursor: pointer;
    font-size: 20px;
}

.header-item p {
    margin: 0;
    font-size: 18px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.home-knop {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo-text {
    font-size: 24px;
    color: white;
}




