*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
     background-image: url("../img/achetgrondinvetaris.png");
    background-size: cover;
    background-position: center;
} 