*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.main{
    display: grid;
    height: 100vh;
    background-color: #5a19bb;
    justify-content: center;
 
}
.form{
    display: grid;
    height: 60vh;
    width: 75vw;
    background-color: #D3D3CB;
    grid-template-columns: 60% 40%;
    margin-top: 10vh;
}
h1 {
    font-size: 48px;
    color: #3A54FF;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
.links{
    height: 100%;
    width: auto;
    background-color: white;
    justify-content: center;
    padding: 40px;

}
input{
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.login {
    background-color: #FF00FF;
    color: #fff;
}

.signup {
    background-color: #fff;
    color: #3A54FF;
    border: 2px solid #3A54FF;
}
#logo_img{
    height: 20vh;
    width: auto;
    margin-bottom: 20px;
}
.rechts{
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
}
#goku{
    height: 80vh;
    width: 100% ;
}